html {
  height: 100%;
  background: linear-gradient(90deg, rgba(245,207,249,1) 30%, rgba(181,83,250,1) 100%) !important;
}

body {
	padding: 50px;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  font-family: 'Calistoga', cursive;
  height: 100%;
  background: inherit;
}

a {
	color: #00B7FF;
}

#result-modal .modal-dialog {
  max-width: 700px;
}

.custom-file label {
  overflow: hidden;
}

.upload-btn {
  width: 8rem;
  margin-top: 1.3rem;
}
